.card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 10px;
  position: relative;
  width: 175px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card:hover {
    box-shadow: 0 6px 9px #555, 0 6px 9px #555;
    margin: 5px;
    height: 210px;
    width: 185px;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  margin-top: 5px;
  width: 65%
}

/*.card > .content {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}*/

/*.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}*/

/*.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}*/
